        /* CSS styles for the carousel */
        html, body {
            margin: 0px;
            padding: 0px;
            background-color: rgb(98, 114, 204);
        }
        .header {
              position: absolute;
              z-index: 10;
              background-color: rgba(0, 0, 0, 0.308);
              width: 100%;
              color: aliceblue;
        }
        .name {
          display: flex;
          float: left;
        }
  
  
        #calendar {
          width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
      }
      
      #calendar tr, #calendar tbody {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
       width: 100%;
      }
      
      #calendar caption {
          text-align: center;
        grid-column: 1 / -1;
        font-size: 130%;
        font-weight: bold;
        padding: 10px 0;
      }
      
      #calendar a {
          color: #8e352e;
          text-decoration: none;
      }
      
      #calendar td, #calendar th {
          padding: 5px;
          box-sizing:border-box;
          border: 1px solid #ccc;
      }
      
      #calendar .weekdays {
          background: #8e352e;  
      }
      
      
      #calendar .weekdays th {
          text-align: center;
          text-transform: uppercase;
          line-height: 20px;
          border: none !important;
          padding: 10px 6px;
          color: #fff;
          font-size: 13px;
      }
      
      #calendar td {
          min-height: 180px;
        display: flex;
        flex-direction: column;
      }
      
      #calendar .days li:hover {
          background: #d3d3d3;
      }
      
      #calendar .date {
          text-align: center;
          margin-bottom: 5px;
          padding: 4px;
          background: #333;
          color: #fff;
          width: 20px;
          border-radius: 50%;
        flex: 0 0 auto;
        align-self: flex-end;
      }
      
      #calendar .event {
        flex: 0 0 auto;
          font-size: 13px;
          border-radius: 4px;
          padding: 5px;
          margin-bottom: 5px;
          line-height: 14px;
          background: #e4f2f2;
          border: 1px solid #b5dbdc;
          color: #009aaf;
          text-decoration: none;
      }
      
      #calendar .event-desc {
          color: #666;
          margin: 3px 0 7px 0;
          text-decoration: none;	
      }
      
      #calendar .other-month {
          background: #f5f5f5;
          color: #666;
      }
  
  
      h1 {
        text-align: center;
      }
  
        .navbar {
          text-align: right;
          margin-left: 20px;
          list-style-type: none;
          overflow: hidden;
          align-items: center;
        }
  
        .navbar li {
          margin: 15px;
          display: inline;
          margin-right: auto;
          margin-inline: 10px;
          float: right;
          font-size: x-large;
        }
  
        .navbar li:hover {
          color: darkolivegreen;
          border:inset;
          border-color: rgb(132, 148, 161);
          background-color: rgba(240, 248, 255, 0.863);
        }
  
        #contactFormFs {
          margin-inline: 20%;
          margin-bottom: 4%;
        }
  
        #about {
          text-align: center;
        }
    
        .carousel {
            position: relative;
            /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64); */
            /* margin-top: 26px; */
        }
    
        #rsvpFS {
            display: grid;
            width: auto;
            margin-inline: 20%;
            margin-block: 1%;
            justify-items: center;
            padding: 20px;
        }

        #imageFS {
            display: grid;
            width: auto;
            margin-inline: 20%;
            margin-block: 1%;
            justify-items: center;
            padding: 20px;
        }

        #rsvpFS label {
            font-size: xx-large;
        }

        #rsvpFS select {
            width: max-content;
            font-size: x-large;
        }

        form {
            text-align: -webkit-center;
        }

        .carousel-inner {
            position: relative;
            overflow: hidden;
            width: 100%;
            /* background: burlywood; */
            animation: scroll 40s linear infinite;
            
        }
    
        .carousel-open:checked + .carousel-item {
            position: static;
            opacity: 100;
        }
    
        .carousel-item {
            position: absolute;
            opacity: 0;
            -webkit-transition: opacity 0.6s ease-out;
            transition: opacity 0.6s ease-out;
            height: 600px;
        }
    
        .carousel-item img {
            display: block;
            height: 600px;
            max-width: 100%;
            background: rgba(0, 0, 0);
            margin:auto;
            
  
        }
    
        .carousel-control {
            background: rgba(0, 0, 0, 0.28);
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            display: none;
            font-size: 40px;
            height: 40px;
            line-height: 35px;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            cursor: pointer;
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            text-align: center;
            width: 40px;
            z-index: 10;
        }
    
        .carousel-control.prev {
            left: 2%;
        }
    
        .carousel-control.next {
            right: 2%;
        }
    
        .carousel-control:hover {
            background: rgba(0, 0, 0, 0.8);
            color: #aaaaaa;
        }
    
        #carousel-1:checked ~ .control-1,
        #carousel-2:checked ~ .control-2,
        #carousel-3:checked ~ .control-3 {
            display: block;
        }
    
        .carousel-indicators {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 2%;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 10;
        }
    
        .carousel-indicators li {
            display: inline-block;
            margin: 0 5px;
        }
    
        .carousel-bullet {
            color: #fff;
            cursor: pointer;
            display: block;
            font-size: 55px;
        }
    
        .carousel-bullet:hover {
            color: #333;
        }
    
        #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
        #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
        #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
            color: #333;
        }
    
        #title {
            width: 100%;
            position: absolute;
            padding: 0px;
            margin: 0px auto;
            text-align: center;
            font-size: 27px;
            color: rgba(255, 255, 255, 1);
            font-family: 'Open Sans', sans-serif;
            z-index: 9999;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
        }